<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="https://cdn-cc-image-api-p001.cc.vubiquity.com/sf-api/image?i=https://vucscdnprodne.azureedge.net/images/vmest_prod/1/furniture/last-kingdom-the-se03-L-EN_1920x1080.png?q=80" class="w-100 carousel-height" alt="...">
      <div class="carousel-caption d-none d-md-block text-white">
        <h3>The Last Kingdom</h3>
        <p>As Alfred the Great defends his kingdom from Norse invaders, Uhtred--born a Saxon but <br/> raised by Vikings--seeks to claim his ancestral birthright.</p>
        <button class="btn bg-black text-white rounded-pill px-4 py-2"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-play-circle me-1" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"/>
        </svg> Watch Now</button>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://www.10wallpaper.com/wallpaper/1366x768/2201/The_Witcher_2022_Season_2_TV_Series_5K_Poster_1366x768.jpg" class="w-100 vh-100" alt="...">
      <div class="carousel-caption d-none d-md-block text-white">
        <h5>The Witcher</h5>
        <p>Geralt of Rivia, a solitary monster hunter, struggles to find his place in a world <br/> where people often prove more wicked than beasts..</p>
        <button class="btn bg-black text-white rounded-pill px-4 py-2"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-play-circle me-1" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"/>
        </svg> Watch Now</button>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="1000">
      <img src="https://images.alphacoders.com/125/1254595.jpg" class="d-block w-100 vh-100" alt="...">
      <div class="carousel-caption d-none d-md-block text-white">
        <h5>Peaky blinders</h5>
        <p>A gangster family epic set in 1900s England, centering on a gang who sew razor blades in the peaks of their caps,<br/> and their fierce boss Tommy Shelby.</p>
        <button class="btn bg-black text-white rounded-pill px-4 py-2"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-play-circle me-1" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"/>
        </svg> Watch Now</button>
      </div>
    </div>
  </div>
</div>
