<div>
    <app-navbar></app-navbar>
    <div class="mx-3 py-5">
        <div class="d-flex py-5 text-white">
            <app-boxmovie [column]="column" class="me-3"></app-boxmovie>
            <app-boxmovie [column]="column" class="me-3"></app-boxmovie>
            <app-boxmovie [column]="column" class="me-3"></app-boxmovie>
            <app-boxmovie [column]="column" class="me-3"></app-boxmovie>
            <app-boxmovie [column]="column" class="me-3"></app-boxmovie>
            <app-boxmovie [column]="column" class="me-3"></app-boxmovie>
            <app-boxmovie [column]="column" class="me-3"></app-boxmovie>
            <app-boxmovie [column]="column"></app-boxmovie>
        </div>
    </div>
</div>